<div class="container">
  <div class="title-container">
    <h1>Meus Cursos</h1>
    <hr>
  </div>
  <div class="row">
    <div class="card" *ngFor="let course of courses.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
      <img [src]="course.image" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text">{{course.description}}</p>
        <a href="#" class="btn btn-primary">Visualizar Curso</a>
      </div>
    </div>
  </div>
  <ul class="pagination">
    <li class="page-item" *ngIf="currentPage > 1" (click)="previousPage()"><a class="page-link">Previous</a></li>
    <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage" (click)="currentPage = page"><a class="page-link">{{page}}</a></li>
    <li class="page-item"*ngIf="currentPage < totalPages" (click)="nextPage()" ><a class="page-link">Próximo</a></li>
  </ul>
</div>


