<nav *ngIf="mostrarCabRod()" class="grey darken-4">
  <div class="logo">
    <h1 href="#" class="title-header">LearnHub</h1>
  </div>
  <!-- (click)="getcourse(pesquisar)" -->
  <div class="search-field">
    <i class="fa-solid fa-search" (click)="getcourse(pesquisar)"></i>
    <input type="search" class="input-search" id="mySearchInput" [(ngModel)]="pesquisar" />
  </div>
  <div class="nav-wrapper">
    <ul id="nav-mobile">
      <li><a routerLink="home" class="custom-link">Home</a></li>
       <li *ngIf="this.authService.isLoggedIn()">
        <a routerLink="user/my-courses" class="custom-link">Meus Cursos</a>
      </li>
      <li *ngIf="this.authService.isLoggedIn()">
        <a routerLink="user/my-cart" class="custom-link">Carrinho</a>
      </li> 
      <li *ngIf="!this.authService.isLoggedIn()">
        <a routerLink="/register" class="custom-link">Registrar</a>
      </li>
      <li *ngIf="!this.authService.isLoggedIn()">
        <a routerLink="/login" class="custom-link">Entrar</a>
      </li>
      <li routerLink="user/profile" *ngIf="this.authService.isLoggedIn()">
        <div class="user-profile">
          <i class="fa-solid fa-user"></i>
        </div>
      </li>
    </ul>
  </div>
</nav>
