<nav *ngIf="mostrarCabRod()" class="grey darken-4">
  <div class="logo">
    <h1 href="#" class="title-header">LearnHub</h1>
  </div>
  <div class="nav-wrapper">
    <ul id="nav-mobile">
      <li><a routerLink="home" class="custom-link">Home</a></li>
      <li *ngIf="authUser.isLoggedIn()"><a routerLink="my-courses" class="custom-link">Meus Cursos</a></li>
      <li *ngIf="authUser.isLoggedIn()"><a routerLink="my-cart" class="custom-link">Carrinho</a></li>
      <li *ngIf="!authUser.isLoggedIn()"><a routerLink="/register" class="custom-link">Registrar</a></li>
      <li *ngIf="!authUser.isLoggedIn()"><a routerLink="/login" class="custom-link">Entrar</a></li>
      <li routerLink="profile" *ngIf="authUser.isLoggedIn()">
        <div class="user-profile">
          <i class="fa-solid fa-user"></i>
          <span class="tooltip">Meu Perfil</span>
        </div>
      </li>
    </ul>
  </div>
</nav>
