<ng-container *ngIf="!regTeacher">
  <div class="box">
    <form (ngSubmit)="onRegist()" [formGroup]="formRegister" #formDir="ngForm">
      <div class="title">
        <h3>Seja um aluno</h3>
        <p class="text-secondary">
          Torne-se um aluno e faça parte da maior plataforma de cursos online do
          Brasil.
        </p>
      </div>
      <div class="form-group">
        <label
          >Nome Completo
          <ng-container *ngIf="submitted && nome.invalid">
            <div class="text-danger error-message" role="alert">
              * Este campo é obrigatório!
            </div>
          </ng-container></label
        >
        <input
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Insira o seu nome"
          formControlName="nome_completo"
          required
          (focus)="borda()"
          (blur)="noBorda()"
          [ngClass]="{ active: isActivated }"
        />
      </div>
      <div class="form-group">
        <label
          >Data de Nascimento
          <ng-container *ngIf="submitted && dataNasc.invalid">
            <div class="text-danger error-message" role="alert">
              * Este campo é obrigatório!
            </div>
          </ng-container></label
        >
        <input
          type="date"
          class="form-control"
          formControlName="data_nascimento"
          required
          (focus)="borda()"
          (blur)="noBorda()"
          [ngClass]="{ active: isActivated }"
        />
      </div>
      <div class="form-group">
        <label
          >CPF
          <ng-container *ngIf="submitted && dataNasc.invalid">
            <div class="text-danger error-message" role="alert">
              * Este campo é obrigatório!
            </div>
          </ng-container></label
        >
        <input
          type="text"
          class="form-control"
          formControlName="cpf"
          required
          (focus)="borda()"
          (blur)="noBorda()"
          (input)="updateCPFValue($event)"
          [ngClass]="{ active: isActivated }"
        />
      </div>
      <div class="form-group">
        <label
          >Email
          <ng-container *ngIf="submitted && email.invalid">
            <div
              class="text-danger error-message"
              role="alert"
              *ngIf="email.errors?.['pattern']"
            >
              * Insira um email válido!
            </div>
            <div
              class="text-danger error-message"
              role="alert"
              *ngIf="email.errors?.['required']"
            >
              * Este campo é obrigatório!
            </div>
          </ng-container></label
        >
        <input
          type="email"
          class="form-control"
          placeholder="Insira o seu email"
          formControlName="email"
          required
          (focus)="borda()"
          (blur)="noBorda()"
          [ngClass]="{ active: isActivated, valid: email.valid }"
        />
      </div>
      <div class="form-group">
        <label
          >Senha
          <ng-container *ngIf="submitted && senha.invalid">
            <div
              class="text-danger error-message"
              role="alert"
              *ngIf="senha.errors?.['required']"
            >
              * Este campo é obrigatório!
            </div>
          </ng-container>
        </label>
        <input
          type="password"
          class="form-control"
          placeholder="Insira sua Senha"
          formControlName="senha"
          required
          (focus)="borda()"
          (blur)="noBorda()"
          [ngClass]="{ active: isActivated, valid: senha.valid }"
        />

        <ng-container *ngIf="submitted && senha.invalid">
          <div
            class="text-danger error-message"
            role="alert"
            *ngIf="senha.errors?.['pattern']"
          >
            * A senha deve conter letras maiúsculas(A - Z), minúsculas(a - z),
            números(0 - 9) e caracteres especiais(#)!
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label
          >Confirmar Senha
          <ng-container *ngIf="submitted && confirmSenha.invalid">
            <div
              class="text-danger error-message"
              role="alert"
              *ngIf="confirmSenha.errors?.['required']"
            >
              * Este campo é obrigatório!
            </div>
          </ng-container>
        </label>
        <input
          type="password"
          class="form-control"
          placeholder="Confirmar Senha"
          formControlName="confirmar_senha"
          required
          (focus)="borda()"
          (blur)="noBorda()"
          [ngClass]="{ active: isActivated, 'valid': confirmSenha.valid }"
        />
        <ng-container *ngIf="submitted && senha.value !== confirmSenha.value">
          <div
            class="text-danger error-message"
            role="alert"
          >
            * As senhas não coincidem!
          </div>
        </ng-container>
      </div>
      <div class="return-login">
        <small>Já possui uma conta? <a routerLink="/login" class="text-primary link-primary">Faça o login</a></small>
        <small><a class="text-primary link-primary" (click)="registTeacher()">Torne-se um instrutor</a></small>
      </div>
      <button type="submit" class="w-100 btn">Cadastrar</button>
    </form>
  </div>
</ng-container>

<!-- FORMULARIO DO PROFESSOR -->

<ng-container *ngIf="regTeacher">
  <div class="box">
    <form (ngSubmit)="onRegist()" [formGroup]="formRegister" #formDir="ngForm">
      <div class="title">
        <h3>Torne-se um instrutor</h3>
        <p class="text-secondary">
          Torne-se um instrutor e faça parte da maior plataforma de cursos online do
          Brasil.
        </p>
      </div>
      <div class="form-group">
        <label
          >Nome Completo
          <ng-container *ngIf="submitted && nome.invalid">
            <div class="text-danger error-message" role="alert">
              * Este campo é obrigatório!
            </div>
          </ng-container></label
        >
        <input
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Insira o seu nome"
          formControlName="nome_completo"
          required
          (focus)="borda()"
          (blur)="noBorda()"
          [ngClass]="{ active: isActivated }"
        />
      </div>
      <div class="form-group">
        <label
          >Data de Nascimento
          <ng-container *ngIf="submitted && dataNasc.invalid">
            <div class="text-danger error-message" role="alert">
              * Este campo é obrigatório!
            </div>
          </ng-container></label
        >
        <input
          type="date"
          class="form-control"
          formControlName="data_nascimento"
          required
          (focus)="borda()"
          (blur)="noBorda()"
          [ngClass]="{ active: isActivated }"
        />
      </div>
      <div class="form-group">
        <label
          >CPF
          <ng-container *ngIf="submitted && cpf.invalid">
            <div class="text-danger error-message" role="alert">
              * Este campo é obrigatório!
            </div>
          </ng-container></label
        >
        <input
          type="text"
          class="form-control"
          formControlName="cpf"
          required
          (focus)="borda()"
          (blur)="noBorda()"
          (input)="updateCPFValue($event)"
          [ngClass]="{ active: isActivated }"
        />
      </div>
      <div class="form-group">
        <label
          >Email
          <ng-container *ngIf="submitted && email.invalid">
            <div
              class="text-danger error-message"
              role="alert"
              *ngIf="email.errors?.['pattern']"
            >
              * Insira um email válido!
            </div>
            <div
              class="text-danger error-message"
              role="alert"
              *ngIf="email.errors?.['required']"
            >
              * Este campo é obrigatório!
            </div>
          </ng-container></label
        >
        <input
          type="email"
          class="form-control"
          placeholder="Insira o seu email"
          formControlName="email"
          required
          (focus)="borda()"
          (blur)="noBorda()"
          [ngClass]="{ active: isActivated, valid: email.valid }"
        />
      </div>
      <div class="form-group">
        <label
          >Senha
          <ng-container *ngIf="submitted && senha.invalid">
            <div
              class="text-danger error-message"
              role="alert"
              *ngIf="senha.errors?.['required']"
            >
              * Este campo é obrigatório!
            </div>
          </ng-container>
        </label>
        <input
          type="password"
          class="form-control"
          placeholder="Insira sua Senha"
          formControlName="senha"
          required
          (focus)="borda()"
          (blur)="noBorda()"
          [ngClass]="{ active: isActivated, valid: senha.valid }"
        />

        <ng-container *ngIf="submitted && senha.invalid">
          <div
            class="text-danger error-message"
            role="alert"
            *ngIf="senha.errors?.['pattern']"
          >
            * A senha deve conter letras maiúsculas(A - Z), minúsculas(a - z),
            números(0 - 9) e caracteres especiais(#)!
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label
          >Confirmar Senha
          <ng-container *ngIf="submitted && confirmSenha.invalid">
            <div
              class="text-danger error-message"
              role="alert"
              *ngIf="confirmSenha.errors?.['required']"
            >
              * Este campo é obrigatório!
            </div>
          </ng-container>
        </label>
        <input
          type="password"
          class="form-control"
          placeholder="Confirmar Senha"
          formControlName="confirmar_senha"
          required
          (focus)="borda()"
          (blur)="noBorda()"
          [ngClass]="{ active: isActivated, 'valid': confirmSenha.valid }"
        />
        <ng-container *ngIf="submitted && senha.value !== confirmSenha.value">
          <div
            class="text-danger error-message"
            role="alert"
          >
            * As senhas não coincidem!
          </div>
        </ng-container>
      </div>
      <div class="return-login">
        <small>Já possui uma conta? <a routerLink="/login" class="text-primary link-primary">Faça o login</a></small>
        <small><a class="text-primary link-primary" (click)="registTeacher()">Torne-se um aluno</a></small>
      </div>
      <button type="submit" class="w-100 btn">Cadastrar</button>
    </form>
  </div>
</ng-container>
