<div class="container">
    <div class="left">
      <form>
        <div class="title">
          <h3>Compre agora</h3>
        </div>
        <div class="accordion">
          <div class="accordion-item">
            <input
              type="radio"
              name="radio-item"
              id="accordion1"
              class="accordion-input"
            />
            <label for="accordion1" class="accordion-header" (click)="clickDescription()">Cartão de Crédito</label>
            <div class="accordion-content">
              <p>desc</p>
            </div>
          </div>
          <div class="accordion-item">
            <input
              type="radio"
              name="radio-item"
              id="accordion2"
              class="accordion-input"
            />
            <label for="accordion2" class="accordion-header" (click)="clickDescription()">Pix</label>
            <div class="accordion-content">
              <p>desc</p>
            </div>
          </div>
          <div class="accordion-item">
            <input
              type="radio"
              name="radio-item"
              id="accordion3"
              class="accordion-input"
            />
            <label for="accordion3" class="accordion-header" (click)="clickDescription()">Boleto</label>
            <div class="accordion-content">
              <p>desc</p>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="right">asdasdasdasd</div>
  </div>
  