.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 600px;
}

.left,.right{
    padding: 20px 10px;
    height: 100%;
}

.left{
    width: 70%;
}

.right{
    width: 30%;
    background-color: #ddd;
}

.left form{
    width: 100%;
}


.accordion {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
  }
  
  .accordion-item {
    border-top: 1px solid #ddd;
  }
  
  .accordion-header {
    background-color: #f5f5f5;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin: 0;
    position: relative;
  }
  
  .accordion-header i {
    position: absolute;
    right: 30px;
  }
  
  .accordion-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
    background-color: #cccc;
  }
  
  .accordion-item input[type="radio"]:checked ~ .accordion-content {
    height: 200px;
  }

  .accordion-item {
    position: relative;
  }
  
  .accordion-header {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-left: 30px; 
  }
  
  .accordion-header::before {
    content: '';
    display: inline-block;
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .accordion-input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
  
  .accordion-input:checked + .accordion-header::before {
    background-color: #007bff;
  }
  
  