<main>
  <div class="container">
    <div class="header-title">
      <h1>Faça o seu login</h1>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" #formDir="ngForm">
      <div class="field">
        <label>Email</label>
        <input type="email" placeholder="teste@email.com" formControlName="email" required
          [ngClass]="{'error': formSubmitted && email.invalid}" />
        <ng-container *ngIf="formSubmitted && email.invalid">
          <div class="error-message">
            <span>email invalido</span>
          </div>
        </ng-container>
      </div>
      <div class="field">
        <label>Senha</label>
        <input type="password" formControlName="password" required
          [ngClass]="{'error': formSubmitted && password.invalid}" />
        <ng-container *ngIf="password.invalid && formSubmitted">
          <div class="error-message">
            <span *ngIf="password.errors?.['required']">Senha inválida</span>
          </div>
        </ng-container>
      </div>
      <div class="bottom-content">
        <div class="checkbox">
          <input type="checkbox" />
          <label>Lembrar-me</label>
        </div>
        <div class="forgot-password">
          <a href="#">Esqueceu a Senha?</a>
        </div>
      </div>
      <div class="btn">
        <button type="submit" class="btn-submit">Login</button>
      </div>
    </form>
    <div class="help">
      <small>Não tem uma conta? <a routerLink="home">Cadastre-se</a></small>
    </div>
  </div>
</main>
<app-popup-error></app-popup-error>
