<main class="container">

  <!-- SLIDE BANNERS -->
  <section class="banners">
    <div
      id="carouselExample"
      class="carousel slide"
      data-ride="carousel"
      data-interval="100"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/assets/images-banner/banner1.png"
            alt="BANNER DO CURSO DE ANGULAR"
          />
        </div>
        <div class="carousel-item">
          <img src="" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
  </section>

  <!-- SEÇÃO DE CURSOS MAIS ACESSADOS DA PLATAFORMA -->
  <section class="courses-acessed">
    <div class="title">
      <h1>Cursos mais Acessados</h1>
      <hr />
    </div>
    <div class="cards-container">
      <div class="card-course" *ngFor="let course of coursesAcessed">
        <div class="card-banner">
          <p>Banner</p>
        </div>
        <div class="card-content">
          <div class="top">
            <h1>{{ course.title }}</h1>
            <i class="fa-solid fa-heart"></i>
          </div>
          <div class="text-description">
            <p>{{ course.desc }}</p>
          </div>
        </div>
        <div class="card-footer">
          <small
            >Valor:
            <strong>{{ course.price | currency : "BRL" }}</strong></small
          >
          <div class="btn-field">
            <button routerLink="/course-preview">Visualizar Curso</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SEÇÃO DE CATEGORIAS DE CURSOS -->
  <section class="categories">
    <div class="title">
      <h1>Principais Categorias</h1>
      <hr />
    </div>
    <div class="cards-categories">
      <div class="card" *ngFor="let category of categories">
        <div class="icon-category bg-dark">
          <i class="{{ category.class }}"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ category.titleCat }}</h5>
          <p class="card-text">{{ category.descCat }}</p>
        </div>
      </div>
    </div>
  </section>
</main>
