<main class="container">
  <section class="banners">
    <div class="banner">
      <h1>Meu Banner</h1>
    </div>
  </section>
  <section class="your-courses">
    <div class="title">
      <h1>Cursos mais Acessados</h1>
    </div>
    <hr>
     <div class="cards-container">
      <div class="card">
        <div class="card-banner">
          <p>Banner</p>
        </div>
        <div class="card-content">
          <div class="top">
            <h1>Banco de Dados - SQL</h1>
            <i class="fa-solid fa-heart"></i>
          </div>
          <div class="text-description">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde aspernatur odit quasi maxime labore, rerum earum est magnam commodi doloribus impedit soluta fugiat dolorem consequuntur.</p>
          </div>
        </div>
        <div class="card-footer">
          <small>Valor: <strong>R$220,00</strong></small>
          <div class="btn-field">
            <button routerLink="/course-preview">Visualizar Curso</button>
          </div>
        </div>
      </div>
    </div>



  </section>
</main>

