.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.container :where(section) {
  width: 100%;
  margin-bottom: 50px;
}

/* SLIDER BANNER */
.banners {
  width: 1400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carouselExample,
.carousel-item {
  width: 1400px;
  height: 400px;
  background-color: #252525;
}

.carousel-item {
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

button.carousel-control-prev,
button.carousel-control-next {
  border: none;
  background: none;
  opacity: 1;
  width: 100px;
  height: 300px;
  margin: 50px 0;
  z-index: 1000;
}

button.carousel-control-prev span,
button.carousel-control-next span{
  color: rgb(167, 99, 255);
  font-weight: bold;
  font-size: 2em;
}

section .title {
  width: 100%;
  text-align: center;
  margin-bottom: 3em;
}

/* CARDS DE CURSOS ACESSADOS */

.cards-container {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.3rem;
}

.card-title{
  color: #000;
}

.card-course {
  max-width: 400px;
  box-shadow: 0 1px 10px #6363639a;
  flex: 0 0 calc(100% - 50px);
  min-width: calc(50% - 50px);
  min-width: calc(50% - 50px);
  padding: 0;
}

.card-course.full-width-card {
  flex: 0 0 100%;
  min-width: 100%;
}

.card-banner {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #434343;
  color: #fff;
}

.card-content {
  padding: 10px 15px;
}

.card-content > .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.card-content > .top h1 {
  font-size: 1.2rem;
}

.card-content > .top i {
  width: 35px;
  height: 35px;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 50%;
}

.card-content > .top i:hover {
  background-color: #6363636b;
}

.text-description {
  width: 100%;
}

.text-description p {
  text-align: justify;
  color: #434343;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.card-footer small {
  font-size: 0.9rem;
}

.card-footer .btn-field button {
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1rem;
  background-color: rgb(99, 0, 228);
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.card-footer .btn-field button:hover {
  background-color: rgb(80, 0, 184);
}

/* CARDS DE CATEGORIAS DE CURSOS */

.cards-categories {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cards-categories .card {
  cursor: pointer;
  flex: 0 0 calc(100% - 20px);
  max-width: calc(33.33% - 20px);
  min-width: calc(33.33% - 20px);
  transition: 0.3s ease-in-out;
}

.cards-categories .card:hover {
  transform: scale(1.04);
  box-shadow: 0 3px 15px rgb(21, 21, 21, 0.5);
}

