.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin: 200px auto;
  width: 80%;
  padding: 30px 10px;
  border: 0.5px solid #00000052;
}

.table {
  width: 100%;
  margin: auto;
}

.table :where(td > button) {
  background: none;
  border-radius: 25%;
}

.table :where(td > button):hover {
  background-color: rgba(255, 159, 159, 0.24);
}

button {
  border: none;
  outline: none;
  padding: 5px 15px;
  transition: 0.3s;
}

th,
td {
  max-width: 150px;
}

.btns button {
  width: 200px;
  border-radius: 8px;
  padding: 10px;
  margin: 0 .5rem;
}

.desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal.open {
  display: block;
  width: 700px;
  height: auto;
}

.modal-content {
  text-align: center;
  padding: 2rem;
}

.modal.open .save-btn {
  width: 200px;
  margin: 1rem auto;
  padding: 8px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #6610f2;
  color: #fff;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.modal.open .save-btn:hover {
  background-color: #4104a3;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

textarea {
  width: 100%;
  background: none;
  border: none;
  border: 1px solid #3d3d3d;
  outline: none;
  resize: none;
  min-height: 30px;
  overflow: hidden;
}

.field-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin: 1rem 0;
}

.field-date input{
    width: 100%;
}