<footer class="page-footer grey darken-4" *ngIf="mostrarCabRod()">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="grey-text">Siga-nos nas redes</h5>
        <ul class="collection">
          <li class="collection-item"><i class="fa-brands fa-whatsapp"></i> (85) 91234-5678</li>
          <li class="collection-item"><i class="fa-brands fa-facebook-f"></i> learnhub</li>
          <li class="collection-item"><i class="fa-brands fa-instagram"></i> @learnhub</li>
          <li class="collection-item"><i class="fa-solid fa-envelope"></i> learnhub@email.com</li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="grey-text">Siga-nos nas redes</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="grey-text">Siga-nos nas redes</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="grey-text">Siga-nos nas redes</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <h1 class="white-text title-footer">LearnHub</h1>
    <a class="grey-text text-lighten-4 right" href="#!">Todos os direitos reservados</a>
  </div>
</footer>
