.box {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  animation: enterAnimation .5s;
}

.cards-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  max-width: 250px;
  width: 100%;
  height: auto;
  padding: 10px;
  cursor: pointer;
}

.card h1 {
  font-size: 1.1em;
  font-weight: bold;
}

main {
  width: 100%;
}

.relation-courses {
  width: 80%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  box-shadow:  0 1px 5px rgba(0, 0, 0, 0.315);
  gap: 1.2rem;
  border-radius: 10px;
}

.relation-courses .card {
  cursor: pointer;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
}

.relation-courses .card .bottom button{
  width: 200px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  font-size: .8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #fff;
}

.relation-courses .card .top h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.relation-payments {
  width: 50%;
  margin: auto;
}

.goals-payments {
  margin: 10px auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.goals-payments .goals,
.payments {
  width: 400px;
  border: 2px solid #000;
}

/* TRANSITION ENTER */

@keyframes enterAnimation {
    
}