<div class="box">
    <h1>Dashboard</h1>
  <div class="cards-actions">
    <div class="card">
      <h1>Vendidos</h1>
      <div class="data-card">
        <small>Total: <span>123</span></small>
      </div>
    </div>
    <div class="card">
      <h1>Alunos</h1>
      <div class="data-card">
        <small>Total: <span>123</span></small>
      </div>
    </div>
    <div class="card">
      <h1>Renda</h1>
      <div class="data-card">
        <small>Total: <span>R$: 3000,00</span></small>
      </div>
    </div>
  </div>
  <hr />
  <main>
    <section class="relation-courses">
        <h1>Aqui vai ficar a relação dos cursos</h1>
    </section>
    <section class="goals-payments">
        <div class="goals"><h4>Aqui estarão as metas</h4></div>
        <div class="payments"><h4>Aqui estarão os pagamentos</h4></div>
    </section>
  </main>
</div>
