<div class="box">
    <h1>Bem-Vindo de volta!</h1>
  <div class="cards-actions">
    <div class="card">
      <h1>Vendidos</h1>
      <div class="data-card">
        <small>Total: <span>123</span></small>
      </div>
    </div>
    <div class="card">
      <h1>Alunos</h1>
      <div class="data-card">
        <small>Total: <span>123</span></small>
      </div>
    </div>
    <div class="card">
      <h1>Renda</h1>
      <div class="data-card">
        <small>Total: <span>R$: 3000,00</span></small>
      </div>
    </div>
  </div>
  <hr />
  <main>
    <section class="relation-courses">
        <div class="card bg-dark">
          <div class="top text-white">
            <h3>Front-End</h3>
          </div>
          <div class="bottom">
            <button class="view">Acessar</button>
          </div>
        </div>
        <div class="card bg-info">
          <div class="top text-white">
            <h3>Back-End</h3>
          </div>
          <div class="bottom">
            <button class="view">Acessar</button>
          </div>
        </div>
        <div class="card bg-danger">
          <div class="top text-white">
            <h3>Mobile</h3>
          </div>
          <div class="bottom">
            <button class="view">Acessar</button>
          </div>
        </div>
        <div class="card bg-secondary">
          <div class="top text-white">
            <h3>WebDesign</h3>
          </div>
          <div class="bottom">
            <button class="view">Acessar</button>
          </div>
        </div>
    </section>
  </main>
</div>
