.box {
  width: 100%;
  padding: 30px;
}

.top {
  position: relative;
}

.video-container {
  width: 70%;
  height: 600px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}

.sidebarModules {
  position: absolute;
  right: 0;
  top: 0;
  height: 600px;
  background-color: #cccc;
  width: calc(100% - 70%);
  border: 1px solid #000;
  border-radius: 5px;
  overflow: auto;
}

.accordion {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.accordion-item {
  border-top: 1px solid #ddd;
}

.accordion-header {
  background-color: #f5f5f5;
  padding: 10px;
  cursor: pointer;
  display: block;
  margin: 0;
  position: relative;
}

.accordion-header i {
  position: absolute;
  right: 30px;
}

.accordion-content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
  background-color: #cccc;
}

.description-video .accordion-content p {
  padding: 10px;
  font-size: .9rem;
}

.accordion-item input.accordion-input {
  display: none;
}

.accordion-item input.accordion-input:checked ~ .accordion-content {
  height: 200px;
}

.info-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 70%;
}

.info-video .title{
  padding-top: 20px;
}

.info-video .bottom-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 10px 0;
}

.actions-user .btns {
  display: flex;
  gap: 1em;
}

.actions-user .btns button{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: transparent;
    transition: .3s ease-in-out;
}

.actions-user .btns button:hover{
    background-color: #ddd;
}

/* MODULES CONTENT */


.content-class{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 10px 0;
  transition: .3s ease-in-out;
}

.content-class:hover{
  background-color: #3d3d3d49;
  cursor: pointer;
}

.content-class .checkbox-field{
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-field .check{
  accent-color: #6610f2;
}

.icon-play i{
  margin-right: 5px;
}
