<div class="box">
  <div class="top">
    <div class="video-container">
        <!-- <iframe src="https://www.youtube.com/embed/vJt_K1bFUeA?si=3wHKv4BFJqdiA69-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
        <div class="info-video">
            <div class="title">
                <h1>Como fazer um CRUD em Angular!</h1>
            </div>
            <div class="bottom-top">
                <div class="date-video">
                    <small>21 de Fev de 2023</small>
                </div>
                <div class="actions-user">
                    <div class="btns">
                        <button class="like"><i class="fa-regular fa-thumbs-up"></i></button>
                        <button class="deslike"><i class="fa-regular fa-thumbs-down"></i></button>
                    </div>
                </div>
            </div>
            <div class="description-video">
                <div class="accordion">
                    <div class="accordion-item">
                        <input type="checkbox" id="accordion1" class="accordion-input" />
                        <label for="accordion1" class="accordion-header">Title 1</label>
                        <div class="accordion-content">
                          <p>Descrição: <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, earum nam. Dolores consectetur earum corrupti at, repellat laborum aliquid, unde rem minus maiores sapiente! Unde, temporibus molestias. Quod modi molestiae placeat officiis iste velit beatae doloremque? Facilis alias cum neque natus odit quia odio, consectetur sit quo provident voluptate dolores adipisci blanditiis voluptates aliquid. Deleniti, at quibusdam consequatur quasi obcaecati sunt hic autem, maiores quis consectetur, ipsum amet odit voluptas. Omnis quisquam, dolore tempore deleniti, enim cumque quis aliquid repudiandae vero atque nostrum voluptas tempora. Voluptatibus vero a ullam ipsam beatae fugiat officia blanditiis cumque reprehenderit? Provident commodi temporibus nulla!</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebarModules">
      <div class="accordion">
        <div class="accordion-item">
          <input type="checkbox" id="accordion4" class="accordion-input" />
          <label for="accordion4" class="accordion-header">Title 1</label>
          <div class="accordion-content">
            <p>Content 1</p>
          </div>
        </div>

        <div class="accordion-item">
          <input type="checkbox" id="accordion2" class="accordion-input" />
          <label for="accordion2" class="accordion-header">Title 2</label>
          <div class="accordion-content">
            <p>Content 2</p>
          </div>
        </div>

        <div class="accordion-item">
          <input type="checkbox" id="accordion3" class="accordion-input" />
          <label for="accordion3" class="accordion-header">Title 3</label>
          <div class="accordion-content">
            <p>lorem30</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="bottom">
      <div class="comments">
          <div class="top-comments">
              <div class="qtd">
                  <h1>67 Comentários</h1>
              </div>
              <div class="filter-comment">
                  <select>
                      <option value="">Ordenar por</option>
                  </select>
              </div>
          </div>
          <div class="add-comments">
              <div class="user-img"><img src="#" alt="user-img"></div>
              <div class="input-commnent">
                  <input type="text" placeholder="Adicione um comentário">
              </div>
              <div class="btn-send">
                  <button class="send">Comentar</button>
              </div>
          </div>
      </div>
    </div> -->
</div>
</div>
