<div class="container">
  <div class="content">
    <div class="logo">
      <h1>Learn<span>Hub</span></h1>
    </div>
    <div class="title-error">
      <h1>404: Página não encontrada</h1>
    </div>
    <div class="text-error">
      <p>"Oops! Parece que você se perdeu na internet. A página que você está procurando não foi encontrada. Volte para casa e tente novamente!"</p>
    </div>
    <div class="btn-field">
      <button routerLink="/home">Voltar para a página anterior</button>
    </div>
  </div>
</div>
