<div class="container">
  <div class="content">
    <div class="profile-image">
      <img src="https://via.placeholder.com/100x100" alt="Imagem-Perfil">
      <i class="fa-solid fa-pen"></i>
    </div>
    <div class="info-fields">
      <!-- INFORMAÇÕES GERAIS -->
      <div class="input-field">
        <label for="name">Nome Completo</label>
        <input type="text" placeholder="Nome Completo" disabled>
      </div>
      <div class="input-field">
        <label for="name">Data de Nascimento</label>
        <input type="text" placeholder="Data de Nascimento" disabled>
      </div>
      <!-- INFORMAÇÕES DE LOGIN -->
      <div class="login-info">
        <div class="input-field">
          <label for="name">Email</label>
          <input type="text" placeholder="Email" disabled>
        </div>
        <div class="input-field">
          <label for="name">Senha</label>
          <input type="text" placeholder="********" disabled>
        </div>
      </div>
    </div>
    <div class="actions-btns">
      <button class="cancel" routerLink="/teacher/overview">Voltar para Home</button>
      <button class="save-changes bg-danger text-white">Salvar Alterações</button>
    </div>
  </div>
</div>
