<div class="box">
    <div class="btns">
      <button class="btn-secondary" routerLink="/teacher/relation-students">Voltar</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome Completo</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>
                <button class="text-danger"><i class="fa-solid fa-trash"></i></button>
            </td>

        </tr>
        <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Thornton</td>
            <td>
                <button class="text-danger"><i class="fa-solid fa-trash"></i></button>
            </td>

        </tr>
        <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>the Bird</td>
            <td>
                <button class="text-danger"><i class="fa-solid fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>
</div>
