<div class="container-fluid bg-light">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline logo">LearnHub</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i>
              <span class="ms-1 d-none d-sm-inline">Orders</span></a
            >
          </li>
          <li>
            <a
              href="#submenu2"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <i class="fs-4 bi-bootstrap"></i>
              <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a
            >
            <ul
              class="collapse nav flex-column ms-1"
              id="submenu2"
              data-bs-parent="#menu"
            >
              <li class="w-100">
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Item</span> 1</a
                >
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Item</span> 2</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a
              href="#submenu3"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <i class="fs-4 bi-grid"></i>
              <span class="ms-1 d-none d-sm-inline">Products</span>
            </a>
            <ul
              class="collapse nav flex-column ms-1"
              id="submenu3"
              data-bs-parent="#menu"
            >
              <li class="w-100">
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Product</span> 1</a
                >
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Product</span> 2</a
                >
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Product</span> 3</a
                >
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Product</span> 4</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i>
              <span class="ms-1 d-none d-sm-inline">Customers</span>
            </a>
          </li>
        </ul>
        <hr />
      </div>
    </div>
    <div class="navigation-teacher">
      <nav class="navbar navbar-light bg-dark d-flex justify-content-between">
        <div class="container">
          <a class="navbar-brand text-white" href="#">Navbar scroll</a>
        </div>
        <div>
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-light dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <div class="user">
                <div class="img">
                  <img
                    src="https://imagens.brasil.elpais.com/resizer/EZ7f2Fz74pE7Rxg3MfbkbvT2AL4=/980x980/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/6TE7TL7D4YWZFV2TFRSGNGN6JE.jpg"
                    alt=""
                  />
                </div>
                <span>User</span>
              </div>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Ver perfil</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="conteudo">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
          aut ullam, commodi totam voluptatem ratione velit blanditiis saepe
          sint voluptatibus ab dolores laborum suscipit consequatur dolor fuga
          debitis a deserunt?
        </p>
      </div>
    </div>
  </div>
</div>
