<div class="box">
    <div class="header bg-primary text-white">
        <h3>Alterar a sua Senha</h3>
    </div>
    <form>
        <div class="form-group">
            <label>Senha atual</label>
            <div class="pass-field">
                <input type="{{oldPass ? 'text' : 'password'}}">
                <i class="fa-solid" ngClass="{{!oldPass ? 'fa-eye' : 'fa-eye-slash'}}" (click)="showOldPass()"></i>
            </div>
        </div>
        <div class="form-group">
            <label>Nova senha</label>
            <div class="pass-field">
                <input type="{{newPass ? 'text' : 'password'}}">
                <i class="fa-solid" ngClass="{{!newPass ? 'fa-eye' : 'fa-eye-slash'}}" (click)="showNewPass()"></i>
            </div>
        </div>
        <div class="form-group">
            <label>Confirmar senha</label>
            <div class="pass-field">
                <input type="{{confirmNewPass ? 'text' : 'password'}}">
                <i class="fa-solid" ngClass="{{!confirmNewPass ? 'fa-eye' : 'fa-eye-slash'}}" (click)="showConfirmNewPass()"></i>
            </div>
        </div>
        <div class="bottom">
            <button type="button" routerLink="../" class="btn btn-secondary">Cancelar</button>
            <button type="button" class="btn btn-primary">Alterar Senha</button>
        </div>
    </form>
</div>