<div class="box">
  <div class="left">
    <div class="preview-video">
      <i class="fa-solid fa-play"></i>
      <h1>Preview</h1>
    </div>
    <div class="content-course">
      <div class="top">
        <h5>Banco de Dados - SQL</h5>
        <div class="price">
          <span class="oficial-price">R$ <strong>220,00</strong></span>
          <span class="price-dashed">R$ 650,50</span>
        </div>
      </div>
      <div class="bottom">
        <div class="buttons">
          <button class="add-cart">Adicionar ao Carrinho</button>
          <button class="buy" (click)="verifyBuy()">Comprar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="title">
      <h3>Informações do Curso</h3>
    </div>
    <div class="details-course">
      <div class="labels">
        <label>Intrutor:</label>
        <label>Data de criação:</label>
        <label>Última atualização:</label>
        <label>Idioma(s) do curso: </label>
        <label>Carga horária:</label>
      </div>
      <div class="info-text">
        <span>Guilherme Tavares</span>
        <span>04/02/2023</span>
        <span>12/07/2024</span>
        <span>Português - Brasil, Inglês, Francês</span>
        <span>100h</span>
      </div>
    </div>
    <div class="about-course">
      <label>Sobre este curso:</label>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, fuga
        omnis officia nobis aut praesentium vel at, libero dolorum natus fugiat.
        Quaerat, aliquam unde commodi quo enim error molestiae. Non?
      </p>
    </div>
  </div>
</div>

<div class="courses-recommend">
  <div class="title">
    <h1>Cursos que talvez você goste</h1>
  </div>
<div class="container">
  <div class="carousel-wrapper">
    <div class="carousel" #carousel>
      <div class="cards" #cards>
        <!-- Coloque aqui vários cards (divs) com a classe 'card' -->
        <div class="card" *ngFor="let card of cardsData">{{card}}</div>
        <!-- Adicione mais cards conforme necessário -->
      </div>
    </div>
    <button class="carousel-control prev" (click)="moveCarousel('prev')">←</button>
    <button class="carousel-control next" (click)="moveCarousel('next')">→</button>
  </div>
</div>

</div>
