 <div class="box">
  <div class="left">
    <div class="preview-video">
      <i class="fa-solid fa-play"></i>
      <h1>Preview</h1>
    </div>
    <div class="content-course">
      <div class="top">
        <div class="asdasd">
          <h5>Banco de Dados - SQL</h5>
        </div>
        <div class="like">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>
      <div class="bottom">
        <div class="price">
          <span>R$ <strong>220,00</strong></span>
        </div>
        <div class="buttons">
          <button class="add-cart">Adicionar ao Carrinho</button>
          <button class="buy">Comprar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="title">
      <h3>Informações do Curso</h3>
    </div>
    <div class="details-course">
      <div class="labels">
        <label>Intrutor:</label>
        <label>Data de criação:</label>
        <label>Última atualização:</label>
        <label>Idioma(s) do curso: </label>
        <label>Carga horária:</label>
      </div>
      <div class="info-text">
        <span>Guilherme Tavares</span>
        <span>04/02/2023</span>
        <span>12/07/2024</span>
        <span>Português - Brasil, Inglês, Francês</span>
        <span>100h</span>
      </div>
    </div>
    <div class="about-course">
      <label>Sobre este curso:</label>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, fuga
        omnis officia nobis aut praesentium vel at, libero dolorum natus fugiat.
        Quaerat, aliquam unde commodi quo enim error molestiae. Non?
      </p>
    </div>
    <div class="feedback">
      <span>Avaliação: </span>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
    </div>
  </div>
</div>


