<div class="box">
  <div class="header-box">
    <h5>Perfil público</h5>
    <h5>Veja aqui as suas informações</h5>
  </div>
  <div class="content-box">
    <div class="profile-edit">
      <div class="profile-img">
        <div class="edit-photo" *ngIf="canEdit">
          <img *ngIf="imageUrl" [src]="imageUrl" alt="Foto de perfil" class="img-profile">
          <input type="file" (change)="onFileSelected($event)">
        </div>
      </div>
      <button (click)="habilitEdit()" class="btn-edit text-primary" *ngIf="!canEdit">Editar perfil</button>
    </div>
    <div class="info-user">
      <div class="field" #inputContainer>
        <label>Nome Completo</label>
        <input type="text" [disabled]="!canEdit">
      </div>
      <div class="field" #inputContainer>
        <label>Data de Nascimento</label>
        <input type="date" [disabled]="!canEdit">
      </div>
      <div class="field" #inputContainer>
        <label>Email</label>
        <input type="text" [disabled]="!canEdit">
      </div>
      <div class="field">
        <label>Senha</label>
        <input type="password" disabled>
        <a routerLink="/profile/change-pass" *ngIf="canEdit">Alterar Senha</a>
        <button (click)="logout()" class="btn-logout text-primary">Encerrar Sessão</button>
      </div>
    </div>
    <div class="buttons-field">
      <button *ngIf="!canEdit" class="btn-delete">Excluir Conta</button>
      <button *ngIf="canEdit" class="btn-save">Salvar</button>
      <button *ngIf="canEdit" class="btn-cancel" (click)="cancelEdit()">Cancelar</button>
    </div>
  </div>

</div>
