.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-filter{
   width: 100%;
   margin: 30px  0;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
}

.category-filter span{
  margin-left: 30px;
}

.input-search{
  outline: none;
  border: none;
  background: none;
  width: 100%;
  font-size: 1rem;
}

.fa-search{
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.fa-search:hover{
  background-color: #979797;
}

.search-field{
  height: 40px;
  display: flex;
  background-color: rgb(204, 204, 204);
  flex-direction: row;
  align-items: center;
  padding: 0 0;
  border-radius: 10px;
  width: 300px;
  gap: 10px;
}

.category-filter span:nth-child(1){
  order: 2;
}

.category-filter select{
    width: 300px;
    font-size: 1rem;
    outline: none;
    height: 40px;
    padding: 0 5px;
    cursor: pointer;
    border: none;
    font-size: 14px;
}


.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  flex: 0 0 calc(100% - 20px);
  max-width: calc(33.33% - 20px);
  min-width: calc(33.33% - 20px);
  box-shadow: 0 1px 5px rgba(121, 121, 121, 0.527);
}

.card img{
    max-height: 120px;
    object-fit: cover;
}
.card-content {
  width: 100%;
}

.card-content p {
  font-size: 0.9em;
}

.card-content span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content span > i:hover {
  color: red;
  cursor: pointer;
}

.pagination {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-link {
  cursor: pointer;
}
