<div class="container-fluid bg-light">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white sidebar"
      >
        <a
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline logo">LearnHub</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 justify-content-between align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a routerLink="./overview" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i>
              <span class="ms-1 d-none d-sm-inline">Meus Cursos</span></a
            >
          </li>
          <li class="nav-item">
            <a
              href="#submenu2"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            > Alunos</a>
          </li>
          <li class="nav-item">
            <a
              href="#submenu3"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
            teste
            </a>
          </li>
        </ul>
        <hr />
      </div>
    </div>
    <div class="navigation-teacher">
      <nav class="navbar navbar-light bg-dark d-flex justify-content-end">
        <div class="bar-teacher">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-light dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <div class="user">
                <div class="img">
                  <img
                    src="https://imagens.brasil.elpais.com/resizer/EZ7f2Fz74pE7Rxg3MfbkbvT2AL4=/980x980/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/6TE7TL7D4YWZFV2TFRSGNGN6JE.jpg"
                    alt=""
                  />
                </div>
                <span>User</span>
              </div>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="./my-profile">Ver perfil</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li (click)="logout()"><a class="dropdown-item">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-xl">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
