<div class="container">
    <div class="left">
      <form>
        <div class="title">
          <h3>Compre agora</h3>
        </div>
        <div class="accordion">
          <div class="accordion-item">
            <input
              type="radio"
              name="radio-item"
              id="accordion1"
              class="accordion-input"
            />
            <label for="accordion1" class="accordion-header" (click)="clickDescription()">Cartão de Crédito</label>
            <div class="accordion-content card-pay">
              <h1>* Detalhes do pagamento</h1>
              <form class="form-pay" [formGroup]="creditForm" #formDir="ngForm">
                <div class="field-input">
                  <label>Número do cartão</label>
                  <input type="text" formControlName="numero_cartao">
                </div>
                <div class="field-input">
                  <label>Nome do Titular</label>
                  <input type="text" formControlName="nome_titular">
                </div>
                <div class="bottom-field">
                  <div class="field-input">
                    <label>Vencimento</label>
                    <input type="date" formControlName="validade">
                  </div>
                  <div class="field-input">
                    <label>Código de Segurança (CVV)</label>
                    <input type="text" formControlName="codigo_seguranca">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="accordion-item">
            <input
              type="radio"
              name="radio-item"
              id="accordion2"
              class="accordion-input"
            />
            <label for="accordion2" class="accordion-header">Pix</label>
          </div>
        </div>
      </form>
    </div>
    <div class="right">
      <div class="list-buy">
        <div class="course">
          <div class="banner-course">
            <img src="https://via.placeholder.com/30x30" alt="">
          </div>
          <div class="details-course">
            <div class="top">
              <span>Nome do curso</span>
              <div class="price">
                <span>R$ 100,00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="total">
        <span>Total:</span>
        <span>R$100,00</span>
      </div>
      <hr>
      <div class="btn-field">
        <button class="btn-buy" (click)="onBuy()">Comprar</button>
      </div>
    </div>
  </div>
